.DS_Store
Day01/AutoLayoutExample/AutoLayoutExample.xcodeproj/project.xcworkspace/xcuserdata/kidcherish.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
note.md
Day03/Weather/Weather/Token.txt
Day03/COVID19/COVID19/Token.txt