<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703352994111-sp93l94orda601tchq3fv079ol3crut0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703352994111-sp93l94orda601tchq3fv079ol3crut0</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0b-iOdMJ4rp5D5LVJR5rwEiJl7L56Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>703352994111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.dcherish.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-7cc62</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-7cc62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703352994111:ios:67d0010d7f37a34db7bb8a</string>
</dict>
</plist>